<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/customer.css">
</head>

<body>
    {% extends 'dash.html' %}

    {% block title %}Customer{% endblock %}

    {% block content %}
    <h3>Customer</h3>



    <div class="sum">
        <input type="text" name="summa" id="in">
        <label for="in">SAMPLE</label>
    </div>

    


    {% endblock %}
</body>

</html>