<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
</head>

<body>
    {% extends 'dash.html' %}

    {% block title %}Home{% endblock %}

    {% block content %}
    <div class="nametime">
        <h3>DashBoard</h3>
        <h3 id="datetime">
        </h3>
    </div>
    <div class="boxpart">
        <div class="boxes">
            <h3 id="boxicons"><i class="far fa-chart-bar"></i></h3>
            <h3>Total Sales:</h3>
            <span>10000</span>


        </div>
        <div class="boxes">
            <h3 id="boxicons"><i class="fa fa-scroll"></i></h3>
            <h3>Total Orders:</h3>
            <span>10000</span>
        </div>
        <div class="boxes">
            <h3 id="boxicons"><i class="fas fa-thumbtack"></i></h3>
            <h3>Pending Orders:</h3>
            <span>10000</span>
        </div>
        <div class="boxes">
            <h3 id="boxicons"><i class="fas fa-tasks"></i></h3>
            <h3>Completed Orders:</h3>
            <span>10000</span>
        </div>

    </div>
    <h3 id="reco">Recent Orders</h3>

    <div class="recentord">


        <table class="tableofrecentord">
            <tr id="fic">
                <th>Product Name</th>
                <th>Order Id</th>
                <th>Payment status</th>
                <th>Order Status</th>
            </tr>
            <tr>
                <td>bag</td>
                <td>#sXlfM3</td>
                <td>paid</td>
                <td>pending</td>
            </tr>
            <tr>
                <td>bag</td>
                <td>#sXlfM3</td>
                <td>paid</td>
                <td>pending</td>
            </tr>
            <tr>
                <td>bag</td>
                <td>#sXlfM3</td>
                <td>paid</td>
                <td>pending</td>
            </tr>
            <tr>
                <td>bag</td>
                <td>#sXlfM3</td>
                <td>paid</td>
                <td>pending</td>
            </tr>
            <tr>
                <td>bag</td>
                <td>#sXlfM3</td>
                <td>paid</td>
                <td>pending</td>
            </tr>
            <tr>
                <td>bag</td>
                <td>#sXlfM3</td>
                <td>paid</td>
                <td>pending</td>
            </tr>
            <tr>
                <td>bag</td>
                <td>#sXlfM3</td>
                <td>paid</td>
                <td>pending</td>
            </tr>
            <tr>
                <td>bag</td>
                <td>#sXlfM3</td>
                <td>paid</td>
                <td>pending</td>
            </tr>
            <tr>
                <td>bag</td>
                <td>#sXlfM3</td>
                <td>paid</td>
                <td>pending</td>
            </tr>
            <tr>
                <td>bag</td>
                <td>#sXlfM3</td>
                <td>paid</td>
                <td>pending</td>
            </tr>


        </table>

    </div>

    {% endblock %}

</body>

</html>